@model IEnumerable<ClinicDent.Models.Citas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dentistas.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dentistas.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cita }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cita })
        </td>
    </tr>
}

</table>
