@model IEnumerable<ClinicDent.Models.Consulta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recomendaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requiere_tratamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citas.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dentistas.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_consulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnostico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recomendaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requiere_tratamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citas.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dentistas.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_consulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_consulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_consulta })
        </td>
    </tr>
}

</table>
