<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clínica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> <!-- FontAwesome -->

    <style>
        .sidebar {
            width: 250px;
            min-height: 100vh;
            background-color: #116AEF;
            color: white;
        }

            .sidebar .nav-link {
                color: white;
            }

                .sidebar .nav-link:hover {
                    background-color: #0d5bcc;
                    border-radius: 5px;
                }

            .sidebar .nav-link {
                color: white;
                width: 100%;
                display: block; 
                padding: 12px 40px;
                text-align: left;
            }

      

        .content {
            flex-grow: 1;
            padding: 20px;
        }

        .icon {
            margin-right: 8px;
        }

        



    </style>
</head>
<body>
    <div class="d-flex">
        <!-- Barra de navegación a la izquierda -->
        <nav class="sidebar d-flex flex-column ">
            <h5 class="text-center"><i class="fa-solid fa-tooth mt-5"></i> CLINICA DENTAL</h5>
            <ul class="nav flex-column mt-5">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link ">
                        <i class="fa-solid fa-house icon"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Pacientes")" class="nav-link ">
                        <i class="fa-solid fa-user icon"></i> Pacientes
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Contact", "Home")" class="nav-link ">
                        <i class="fa-solid fa-envelope icon"></i> Contacto
                    </a>
                </li>
            </ul>

        </nav>

        <!-- Contenido principal -->
        <div class="content">
            <div class="container">
                @RenderBody()
                <hr>
                <footer>
                    <p>&copy; @DateTime.Now.Year - Clínica XYZ</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
