@model ClinicDent.Models.Tratamientos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tratamientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odontograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odontograma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion_estimada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion_estimada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Cobro.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Cobro.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
