@model ClinicDent.Models.PagoViewModel

@{
    ViewBag.Title = "Eliminar Pago";
}

<h2>Eliminar Pago</h2>

<h3>¿Está seguro de que desea eliminar este pago?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdConsulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPago)
        </dd>
    </dl>

    @if (Model.Cuotas.Any())
    {
        <h4>Cuotas Asociadas</h4>
        <table class="table">
            <tr>
                <th>ID Cuota</th>
                <th>Fecha de Pago</th>
                <th>Monto</th>
                <th>Estado</th>
            </tr>
            @foreach (var cuota in Model.Cuotas)
            {
                <tr>
                    <td>@cuota.IdCuota</td>
                    <td>@cuota.FechaPago.ToString("dd/MM/yyyy")</td>
                    <td>@cuota.Monto</td>
                    <td>@cuota.Estado</td>
                </tr>
            }
        </table>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>