@model IEnumerable<ClinicDent.Models.PagoViewModel>

<h2>Pagos</h2>

<table class="table">
    <tr>
        <th>Paciente</th>
        <th>Fecha Pago</th>
        <th>Monto Total</th>
        <th>Método Pago</th>
        <th>Tipo Pago</th>
        <th>Estado</th>
        <th>Cuotas</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Paciente)</td>
            <td>@Html.DisplayFor(modelItem => item.FechaPago)</td>
            <td>@Html.DisplayFor(modelItem => item.MontoTotal)</td>
            <td>@Html.DisplayFor(modelItem => item.MetodoPago)</td>
            <td>@Html.DisplayFor(modelItem => item.TipoPago)</td>
            <td>@Html.DisplayFor(modelItem => item.EstadoPago)</td>
            <td>@item.CuotasPagadas/@item.TotalCuotas</td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.IdPago }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPago })
            </td>
        </tr>
    }
</table>